<form class="row form-inline">
  <div class="form-group col-sm-3">
    <input type="text" class="form-control" id="exampleInputName2" placeholder="نام">
  </div>
  <div class="form-group col-sm-3">
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="ایمیل">
  </div>
  <div class="form-group">
    <div class="checkbox">
      <ba-checkbox [(ngModel)]="isRemember" [label]="'من را به خاطر بسپار'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">ارسال دعوت نامه</button>
  </div>
</form>
