<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <ba-card title="پنجره مودال" class="modal-buttons">
        <button class="btn btn-success" (click)="lgModalShow()">پنجره بزرگ</button>
        <button class="btn btn-warning" (click)="smModalShow()">پنجره کوچک</button>
        <button class="btn btn-primary" (click)="staticModalShow()">پنجره استاتیک</button>
        <button class="btn btn-danger" (click)="childModalShow()">پنجره فرزند</button>
      </ba-card>
    </div>
  </div>
</div>
