<div class="form-group">
  <label for="exampleSelect1">مثال انتخاب ساده</label>
  <select class="form-control" id="exampleSelect1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div>

<div class="form-group">
  <label for="exampleSelect2">مثال انتخاب چند‌گزینه‌ای</label>
  <select multiple class="form-control" id="exampleSelect2">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div>
