<form>
  <div class="form-group">
    <label for="input01">متن</label>
    <input type="text" class="form-control" id="input01" placeholder="متن">
  </div>
  <div class="form-group">
    <label for="input02">پسورد</label>
    <input type="password" class="form-control" id="input02" placeholder="پسورد">
  </div>
  <div class="form-group">
    <label for="input03">گوشه‌های گرد</label>
    <input type="text" class="form-control form-control-rounded" id="input03" placeholder="گوشه‌های گرد">
  </div>
  <div class="form-group">
    <label for="input04">همراه راهنما</label>
    <input type="text" class="form-control" id="input04" placeholder="همراه راهنما">
    <span class="help-block sub-little-text">یک قطعه متن راهنمایی در یک خط جدید درست در زیر ورودی قرار دارد.</span>
  </div>
  <div class="form-group">
    <label for="input05">ورودی غیرفعال</label>
    <input type="text" class="form-control" id="input05" placeholder="ورودی غیر فعال" disabled>
  </div>

  <div class="form-group">
    <label for="textarea01">جعبه متن چندخطی</label>
    <textarea placeholder="متن پیش‌فرض" class="form-control" id="textarea01"></textarea>
  </div>

  <div class="form-group">
    <input type="text" class="form-control form-control-sm" id="input2" placeholder="ورودی کوچک">
  </div>
  <div class="form-group">
    <input type="text" class="form-control form-control-lg" id="input4" placeholder="ورودی بزرگ">
  </div>
</form>
