<div class="vertical-scroll">
  <table class="table">
    <tr>
      <th>#</th>
      <th>نام</th>
      <th>نام خانوادگی</th>
      <th>نام کاربری</th>
      <th>ایمیل</th>
      <th>سن</th>
    </tr>
  <tr>
    <td>1</td>
    <td>کامران</td>
    <td>کاوه</td>
    <td>@mdo</td>
    <td><a class="email-link " href="mailto:mdo@gmail.com">mdo@gmail.com</a></td>
    <td>28</td>
  </tr>
  <tr >
    <td>2</td>
    <td>درسا</td>
    <td>سهندی</td>
    <td>@fat</td>
    <td><a class="email-link " href="mailto:fat@yandex.ru">fat@yandex.ru</a></td>
    <td>45</td>
  </tr>
  <tr>
    <td>3</td>
    <td>مریم</td>
    <td>کاویان</td>
    <td>@twitter</td>
    <td><a class="email-link " href="mailto:twitter@outlook.com">twitter@outlook.com</a>
    </td>
    <td>18</td>
  </tr>
  <tr >
    <td>4</td>
    <td>کاوه</td>
    <td>منصوریان</td>
    <td>@snow</td>
    <td><a class="email-link" href="mailto:snow@gmail.com">snow@gmail.com</a></td>
    <td>20</td>
  </tr>
  <tr>
    <td>5</td>
    <td>رویا</td>
    <td>خزایی</td>
    <td>@jack</td>
    <td><a class="email-link" href="mailto:jack@yandex.ru">jack@yandex.ru</a></td>
    <td>30</td>
  </tr>
  </table>
</div>