<div class="widgets">

  <div class="typography-document-samples row">
    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-12 typography-widget">

      <ba-card title="اندازه متن" baCardClass="with-scroll heading-widget">

        <div class="section-block">
          <h1>H1. هدینگ یک</h1>

          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ست نیاز و</p>
        </div>
        <div class="section-block">
          <h2>H2.  هدینگ دو</h2>

          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستی مورد نیاز و</p>
        </div>
        <div class="section-block">
          <h3>H3. هدینگ سه</h3>

          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ست مورد نیاز و</p>
        </div>
        <div class="section-block">
          <h4>H4. هدینگ چهار</h4>

         <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که</p>
        </div>
        <div class="section-block">
          <h5>H5. هدینگ پنج</h5>

          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و.</p>
        </div>

      </ba-card>
    </div>

    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-12 typography-widget">

      <ba-card title="حالت‌های دیگر متن" baCardClass="with-scroll more-text-widget">

        <div class="section-block light-text">
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و .</p>
        </div>
        <div class="section-block regular-text">
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و .
          </p>
        </div>
        <div class="section-block upper-text bold-text">
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و  .</p>
        </div>
        <div class="section-block bold-text">
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و .
          </p>
        </div>
        <div class="section-block small-text">
          <p>متن درجه دو .تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته,</p>

          <p>تن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک</p>

          <p> با استفاده از طراحان گرافیک است. چاپگرها و.</p>
        </div>

      </ba-card>
    </div>

    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-12 typography-widget">

      <ba-card title="فهرست‌ها" baCardClass="with-scroll lists-widget">

        <div class="section-block">
          <h5 class="list-header">فهرست بی‌ترتیب:</h5>
          <ul class="blur">
            <li>لورم ایپسوم متن ساختگی با سادگی</li>
            <li>شرایط فعلی تکنولوژی مورد نیاز
              <ul>
                <li>شناخت فراوان جامعه و متخصصان
                  <ul>
                    <li>اتمام و دشواری موجود در ارائه راهکارها</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>طراحان رایانه ای علی الخصوص طراحان خلاق</li>
            <li><span>تابهای زیادی در شصت و سه درصد گذشته</span></li>
          </ul>
          <h5 class="list-header">فهرست مرتب:</h5>
          <ol class="blur">
            <li><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </span></li>
            <li><span>حال و آینده شناخت فراوان جامعه و متخصصان</span>
              <ol>
                <li><span> علی الخصوص طراحان خلاقی</span>
                  <ol>
                    <li><span> کتابهای زیادی در شصت و سه درصد گذشته</span></li>
                  </ol>
                </li>
              </ol>
            </li>
            <li><span>شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود </span></li>
            <li>
              <span>جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد</span>
            </li>
          </ol>
          <div class="accent">جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
          </div>
        </div>
      </ba-card>
    </div>

    <div class="col-xlg-3 col-lg-6  col-md-6 col-sm-6 col-12 typography-widget">

      <ba-card title="رنگ متن" baCardClass="with-scroll color-widget">
        <div class="section-block red-text ">
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد 
          </p>
        </div>
        <div class="section-block yellow-text ">
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد </p>
        </div>
        <div class="section-block links">
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم <a href>dolor</a> از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود <a href>ullamcorper</a> ابزارهای کاربردی می باشد. <a href>mattis</a>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد 
          </p>
        </div>
        <div class="section-block links">
          <p><a href>Active link — #209e91</a></p>
          <p class="hovered"><a href>Hover link — #17857a</a></p>
        </div>
      </ba-card>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">

      <ba-card baCardClass="banner-column-panel">
        <div class="banner">
          <div class="large-banner-wrapper">
            <img src="{{ ( 'app/typography/banner.png' | baAppPicture ) }}" alt=""/>
          </div>
          <div class="banner-text-wrapper">
            <div class="banner-text">
              <h1>متن ساده یک بنر</h1>

              <p>لورم ایپسوم متن ساختگی با تولید </p>

              <p>چاپگرها و متون  روزنامه و مجله  </p>
            </div>
          </div>
        </div>
        <div class="section">
          <h2>ستون‌ها</h2>

          <div class="row">
            <div class="col-sm-6">
              <div class="img-wrapper"><img src="{{ ( 'app/typography/typo03.png' | baAppPicture ) }}" alt="" title=""/>
              </div>
              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و <a href="">منبع داخلی</a> با استفاده از طراحان گرافیک است.
                 چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                 ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و <a href="">منبع دیگر</a> آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                باشد.</p>
            </div>
            <div class="col-sm-6">
              <div class="img-wrapper"><img src="{{ ( 'app/typography/typo01.png' | baAppPicture ) }}" alt="" title=""/>
              </div>
              <p>رای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که
                 تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد 
                 نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد 
                 طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه قرار گیرد</p>
            </div>
          </div>

          <div class="separator"></div>

          <div class="row">
            <div class="col-sm-4">
              <h4>مثال عنوان ستون</h4>
              <div class="img-wrapper"><img src="{{ ( 'app/typography/typo04.png' | baAppPicture ) }}" alt=""/></div>
              <p>معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند </p>
              <a href class="learn-more">ادامه متن</a>
            </div>
            <div class="col-sm-4">
              <h4>باز هم یک مثال عنوان ستون</h4>
              <div class="img-wrapper"><img src="{{ ( 'app/typography/typo05.png' | baAppPicture ) }}" alt=""/></div>
              <p>که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد  و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است.</p>
              <a href class="learn-more">ادامه متن</a>
            </div>
            <div class="col-sm-4">
              <h4>مثال عنوان ستون سوم</h4>
              <div class="img-wrapper"><img src="{{ ( 'app/typography/typo06.png' | baAppPicture ) }}" alt=""/></div>
              <p>از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند </p>
              <a href class="learn-more">ادامه متن</a>
            </div>
          </div>
          <div class="separator"></div>
        </div>
      </ba-card>
    </div>
  </div>

</div>
