<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <ba-card title="فیلدهای استاندارد" baCardClass="with-scroll">
        <standard-inputs></standard-inputs>
      </ba-card>

      <ba-card title="ورودی‌های خاص" baCardClass="with-scroll">
        <group-inputs></group-inputs>
      </ba-card>

      <ba-card title="انتخاب‌گر ها" baCardClass="with-scroll">
        <select-inputs></select-inputs>
      </ba-card>
    </div>

    <div class="col-md-6">
      <ba-card title="وضعیت‌های اعتبارسنجی ورودی" baCardClass="with-scroll">
        <validation-inputs></validation-inputs>
      </ba-card>

      <ba-card title="چک‌باکس و رادیو" baCardClass="with-scroll">
        <checkbox-inputs></checkbox-inputs>
      </ba-card>

      <ba-card title="امتیازدهی" baCardClass="with-scroll">
        <rating-inputs></rating-inputs>
      </ba-card>
    </div>
  </div>

</div>
