<div class="widgets">

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <ba-card title="جدول هاور" baCardClass="with-scroll table-panel">
        <hover-table></hover-table>
      </ba-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <ba-card title="جدول با خط حاشیه" baCardClass="with-scroll table-panel">
        <bordered-table></bordered-table>
      </ba-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <ba-card title="جدول فشرده" baCardClass="with-scroll table-panel">
        <condensed-table></condensed-table>
      </ba-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <ba-card title="جدول استریپ " baCardClass="with-scroll table-panel">
        <striped-table></striped-table>
      </ba-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <ba-card title="جدول بانگ مفهومی" baCardClass="with-scroll table-panel">
        <contextual-table></contextual-table>
      </ba-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <ba-card title="جدول واکنش‌گرا" baCardClass="with-scroll table-panel">
        <responsive-table></responsive-table>
      </ba-card>
    </div>
  </div>

</div>
